<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Payne Dentistry</title>
	<link rel="stylesheet" href="styles.css" />
</h:head>
<h:body>
	<h:form>
		<ui:include src="menu.xhtml" />
		<p:panelGrid layout="grid" columns="1">
			<p:messages showDetail="true" closable="true" />
		</p:panelGrid>
		<p:panel>
		
			<p:calendar value="#{appointmentController.appointment.dateStart}" pattern="dd/MM/yyyy HH:mm:ss" />
			
			<p:selectOneMenu value="#{appointmentController.appointment.doctor}" converter="doctorConverter">
				<f:selectItem itemLabel="Assign doctor" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{appointmentController.doctors}" />
			</p:selectOneMenu>
			
			<p:selectOneMenu value="#{appointmentController.appointment.patient}" converter="patientConverter">
				<f:selectItem itemLabel="Assign patient" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{appointmentController.patients}"  />
			</p:selectOneMenu>
			
			<h:commandButton value="Add" action="#{appointmentController.addAppointment}" />
			
			<p:dataTable var="appointment" value="#{appointmentController.results}">
		        <p:ajax event="sort" skipChildren="false" />
		        <p:column headerText="ID">
		            <h:outputText value="#{appointment.id}" />
		        </p:column>
		 
		        <p:column headerText="Date Time" sortBy="#{appointment.dateStart}">
		            <h:outputText value="#{appointment.dateStart}" rendered="#{not appointment.view}" />
		            <p:calendar value="#{appointment.dateStart}" pattern="dd/MM/yyyy HH:mm:ss" rendered="#{appointment.view}" />
		        </p:column>
		        
		        <p:column headerText="Doctor" sortBy="#{appointment.doctor.name}">
		            <h:outputText value="#{appointment.doctor.name}" rendered="#{not appointment.view}" />
		            <p:selectOneMenu value="#{appointment.doctor}" converter="doctorConverter" rendered="#{appointment.view}">
		                <f:selectItems value="#{appointmentController.doctors}" />
					</p:selectOneMenu>
		        </p:column>
		        
		        <p:column headerText="Patient" sortBy="#{appointment.patient.name}">
		            <h:outputText value="#{appointment.patient.name}" rendered="#{not appointment.view}" />
		            <p:selectOneMenu value="#{appointment.patient}" converter="patientConverter" rendered="#{appointment.view}">
						<f:selectItems value="#{appointmentController.patients}" />
					</p:selectOneMenu>
		        </p:column>
		        
		        <p:column>
		            <h:commandButton value="Edit" action="#{appointmentController.startEdit(appointment)}" rendered="#{not appointment.view}" />
		            <h:commandButton value="Update" action="#{appointmentController.editAppointment(appointment)}" rendered="#{appointment.view}" />
		            <h:commandButton value="Delete" action="#{appointmentController.deleteAppointment(appointment)}" rendered="#{not appointment.view}" />
		            <h:commandButton value="Cancel" action="#{appointmentController.stopEdit(appointment)}" rendered="#{appointment.view}" />
		        </p:column>
		    </p:dataTable>	

		</p:panel>
	</h:form>
</h:body>
</html>