<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Payne Dentistry</title>
	<link rel="stylesheet" href="styles.css" />
</h:head>
<h:body>
	<h:form>
		<ui:include src="menu.xhtml" />
		<p:panelGrid layout="grid" columns="1">
			<p:messages showDetail="true" closable="true" />
		</p:panelGrid>
		<p:panelGrid layout="grid" columns="1">
		
			<p:panel>
				<p:outputLabel for="datestart" value="Date: " />
				<p:calendar id="datestart" value="#{blockController.block.dateStart}" pattern="dd/MM/yyyy HH:mm:ss" />
				
				<p:inputText id="blockdescription" value="#{blockController.block.description}" />
				<p:watermark value="Enter a description" for="blockdescription" />
				
				<p:selectOneMenu value="#{blockController.block.doctor}" converter="doctorConverter">
					<f:selectItem itemLabel="Assign doctor" itemValue="" noSelectionOption="true" />
	                <f:selectItems value="#{blockController.doctors}" />
				</p:selectOneMenu>
				
				<p:outputLabel for="block_duration" value="Enter duration in minutes: " />
				<p:inputNumber id="block_duration" decimalPlaces="0" value="#{blockController.block.duration}" />
			</p:panel>

			<p:panel>
				<p:outputLabel for="selectdays" value="Repeat every: " />
				<p:selectManyCheckbox id="selectdays" value="#{blockController.selectedDays}">
					<f:selectItem itemLabel="Sunday" itemValue="1" />
					<f:selectItem itemLabel="Monday" itemValue="2" />
					<f:selectItem itemLabel="Tuesday" itemValue="3" />
					<f:selectItem itemLabel="Wednesday" itemValue="4" />
					<f:selectItem itemLabel="Thursday" itemValue="5" />
					<f:selectItem itemLabel="Friday" itemValue="6" />
					<f:selectItem itemLabel="Saturday" itemValue="7" />
				</p:selectManyCheckbox>
			</p:panel>
			
			<p:panel id="dateendpanel">
				<p:outputLabel for="dateend" value="Repeat until: " />
				<p:calendar id="dateend" value="#{blockController.repeatEnd}" />
			</p:panel>
			
			<h:commandButton value="Add" action="#{blockController.addBlock}" />
			
			<p:dataTable var="block" value="#{blockController.results}">
		        <p:ajax event="sort" skipChildren="false" />
		        <p:column headerText="ID">
		            <h:outputText value="#{block.id}" />
		        </p:column>
		 
		        <p:column headerText="Date Time" sortBy="#{block.dateStart}">
		            <h:outputText value="#{block.dateStart}" rendered="#{not block.view}" />
		            <p:calendar value="#{block.dateStart}" pattern="dd/MM/yyyy HH:mm:ss" rendered="#{block.view}" />
		        </p:column>
		        
		        <p:column headerText="Doctor" sortBy="#{block.doctor.name}">
		            <h:outputText value="#{block.doctor.name}" rendered="#{not block.view}" />
		            <p:selectOneMenu value="#{block.doctor}" converter="doctorConverter" rendered="#{block.view}">
		                <f:selectItems value="#{blockController.doctors}" />
					</p:selectOneMenu>
		        </p:column>
		        
		        <p:column headerText="Selected Days">
		            <h:outputText value="#{block.selectedDays}" rendered="#{not block.view}" />
		        </p:column>
		        
		        <p:column>
		            <h:commandButton value="Edit" action="#{blockController.startEdit(block)}" rendered="#{not block.view}" />
		            <h:commandButton value="Update" action="#{blockController.editBlock(block)}" rendered="#{block.view}" />
		            <h:commandButton value="Delete" action="#{blockController.deleteBlock(block)}" rendered="#{not block.view}" />
		            <h:commandButton value="Cancel" action="#{blockController.stopEdit(block)}" rendered="#{block.view}" />
		        </p:column>
		    </p:dataTable>

		</p:panelGrid>
	</h:form>
</h:body>
</html>