<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Payne Dentistry</title>
	<link rel="stylesheet" href="styles.css" />
</h:head>
<h:body>
	<h:form>
		<ui:include src="menu.xhtml" />
		<p:panelGrid layout="grid" columns="1">
			<p:messages showDetail="true" closable="true" />
		</p:panelGrid>
		<p:panel>
		
			<p:inputText id="doctor_name" value="#{doctorController.doctor.name}" />
			<p:watermark value="Enter Name" for="doctor_name" />
			
			<h:commandButton value="Add" action="#{doctorController.addDoctor}" />
			
			<p:dataTable var="doctor" value="#{doctorController.results}">
		        <p:ajax event="sort" skipChildren="false" />
		        <p:column headerText="ID">
		            <h:outputText value="#{doctor.id}" />
		        </p:column>
		 
		        <p:column headerText="Name" sortBy="#{doctor.name}">
		            <h:outputText id="doctor_name_output" value="#{doctor.name}" rendered="#{not doctor.view}" />
		            <h:inputText id="doctor_name_input" value="#{doctor.name}" rendered="#{doctor.view}" />
		        </p:column>
		        
		        <p:column>
		            <h:commandButton value="Edit" action="#{doctorController.startEdit(doctor)}" rendered="#{not doctor.view}" />
		            <h:commandButton value="Update" action="#{doctorController.editDoctor(doctor)}" rendered="#{doctor.view}" />
		            <h:commandButton value="Delete" action="#{doctorController.deleteDoctor(doctor)}" rendered="#{not doctor.view}" />
		            <h:commandButton value="Cancel" action="#{doctorController.stopEdit(doctor)}" rendered="#{doctor.view}" />
		        </p:column>
		    </p:dataTable>

		</p:panel>
	</h:form>
</h:body>
</html>