<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
		<p:menubar>
			<p:menuitem value="Doctors" url="doctor.xhtml" />
			<p:menuitem value="Patients" url="patient.xhtml" />
			<p:menuitem value="Appointments" url="appointment.xhtml" />
			<p:menuitem value="Blocks" url="block.xhtml" />
			<p:menuitem value="Search" url="search.xhtml" />
		</p:menubar>
</ui:composition>