<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Payne Dentistry</title>
	<link rel="stylesheet" href="styles.css" />
</h:head>
<h:body>
	<h:form>
		<ui:include src="menu.xhtml" />
		<p:panelGrid layout="grid" columns="1">
			<p:messages showDetail="true" closable="true" />
		</p:panelGrid>
		<p:panel>
		
			<p:inputText id="patient_name" value="#{patientController.patient.name}" />
			<p:watermark value="Enter Name" for="patient_name" />
			
			<p:inputText id="patient_phone" value="#{patientController.patient.phone}" />
			<p:watermark value="Enter Phone" for="patient_phone" />
			
			<h:commandButton value="Add" action="#{patientController.addPatient}" />
			
			<p:dataTable var="patient" value="#{patientController.results}">
		        <p:ajax event="sort" skipChildren="false" />
		        <p:column headerText="ID">
		            <h:outputText value="#{patient.id}" />
		        </p:column>
		 
		        <p:column headerText="Name" sortBy="#{patient.name}">
		            <h:outputText value="#{patient.name}" rendered="#{not patient.view}" />
		            <p:inputText value="#{patient.name}" rendered="#{patient.view}" />
		        </p:column>
		        
		        <p:column headerText="Phone" sortBy="#{patient.phone}">
		            <h:outputText value="#{patient.phone}" rendered="#{not patient.view}" />
		            <p:inputText value="#{patient.phone}" rendered="#{patient.view}" />
		        </p:column>
		        
		        <p:column>
		            <h:commandButton value="Edit" action="#{patientController.startEdit(patient)}" rendered="#{not patient.view}" />
		            <h:commandButton value="Update" action="#{patientController.editPatient(patient)}" rendered="#{patient.view}" />
		            <h:commandButton value="Delete" action="#{patientController.deletePatient(patient)}" rendered="#{not patient.view}" />
		            <h:commandButton value="Cancel" action="#{patientController.stopEdit(patient)}" rendered="#{patient.view}" />
		        </p:column>
		    </p:dataTable>

		</p:panel>
	</h:form>
</h:body>
</html>