<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Payne Dentistry</title>
	<link rel="stylesheet" href="styles.css" />
</h:head>
<h:body>
	<h:form>
		<ui:include src="menu.xhtml" />
		<p:panelGrid layout="grid" columns="1">
			<p:messages showDetail="true" closable="true" />
		</p:panelGrid>
		<p:panel>
			
			<p:dataTable var="doctor" value="#{searchController.results}" paginator="true" rows="5">
		        <p:ajax event="sort" skipChildren="false" />
		        <p:column headerText="ID">
		            <h:outputText value="#{doctor.id}" />
		        </p:column>
		 
		        <p:column headerText="Name" sortBy="#{doctor.name}">
		            <h:outputText  value="#{doctor.name}" />
		        </p:column>
		    </p:dataTable>

		</p:panel>
	</h:form>
</h:body>
</html>